Source/Art/*.blend filter=lfs diff=lfs merge=lfs -text
Assets/_Game/Art/ThirdParty/Quaternius/PalmTree_Trunk.png filter=lfs diff=lfs merge=lfs -text
Assets/_Game/Art/ThirdParty/AllSkyFree/EpicBlueSunset.png filter=lfs diff=lfs merge=lfs -text
